{{ define "output" }}
output "{{ .Name }}" {
  value     = local.az.{{ .Name }}
  description = "{{ replace .Name "_" " " | title }}"
}
{{ end }}

{{ define "outputs" }}
output "unique-seed" {
  value = coalesce(var.unique-seed, local.random_safe_generation)
}

output "validation" {
  value = local.validation
}

output "environments" {
  value = local.environments
}

output "locations" {
  value = local.locations_by_name
}
output "location_details" {
  value = local.location
  description = "The details of the looked-up location based on the provided input."
}
{{- range .Resources }}
    {{- template  "output" .}}
{{- end }}

{{ end }}